@{
    ViewData["Title"] = "Import";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        max-width: 800px; /* Adjusted maximum width to match the second container */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Label styling */
    label {
        font-size: 40px;
        margin: 20px 0px 0px 20px;
        color: #d9534f;
        text-align: center;
        font-weight: 600;
    }

    /* File input styling */
    .file-input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
        max-width: 600px;
    }

    /* Submit button styling */
    .submit-button,
    .btn-secondary {
        display: block;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        box-sizing: border-box;
        max-width: 600px; /* Adjusted maximum width to match the second container*/
        } 

    .submit-button {
        background-color: #5bc0de;
        color: #fff;
        font-size: 16px;
    }

    .btn-secondary:hover {
        background-color: #f0f0f0;
    }

    /* Alert styling */
    .alert {
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
    }

    /* Error list styling */
    .error-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .error-list li {
            font-size: 14px;
            margin-bottom: 5px;
        }
</style>

<div class="container">
    <!-- Form for uploading Excel file -->
    <form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="title mb-4">Select Excel File:</div>
        <input type="file" name="file" id="file" class="form-control file-input" />
       <div><button type="submit" class="btn btn-success submit-button btn-block">Import Excel</button></div>

    </form>
    @if(User.IsInRole("Admin"))
    {
        <a href="#" onclick="confirmDelete('Check')" class="btn btn-secondary btn-block mt-3">Delete All Checked In Graduands</a>
      
       @*  <a href="#" onclick="confirmDelete('Graduand')" class="btn btn-secondary">Delete All Graduands</a>
        <a href="#" onclick="confirmDelete('Everything')" class="btn btn-secondary">Delete Everything</a> *@
        <div id="additionalButtons" style="display:none;" class="mt-3 w-100">
            <a href="#" onclick="confirmDelete('Graduand')" class="btn btn-secondary btn-block">Delete All Graduands</a>
            <a href="#" onclick="confirmDelete('Everything')" class="btn btn-secondary btn-block">Delete Everything</a>
        </div>
    } 

</div>


<div>
    <!-- Display success and error messages -->
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success success-message" style="display:block">@ViewBag.SuccessMessage</div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger error-message" style="display:block">@ViewBag.ErrorMessage</div>
    }

    @if (ViewBag.Errors != null && ViewBag.Errors.Count > 0)
    {
        <div class="alert alert-danger error-message">
            <h4 class="error-heading">Error/s:</h4>
            <ul class="error-list">
                @foreach (var error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    @if (ViewBag.AwardError != null)
    {
        <div class="alert alert-danger error-message">@ViewBag.AwardError</div>
    }
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
        function confirmDelete(text) {
            var confirmation = confirm("Are you sure you want to delete " + text + "?");

            if (confirmation) {
                $.ajax({
                    type: "DELETE",
                    url: "/Home/Delete",
                    data: { text: text },
                    success: function (data) {
                        // checking if the one clicked is the Delete CheckedIn
                        if (text === 'Check') {
                            showAdditionalButtons();
                        }
                    }
                });
            }
        }

    function showAdditionalButtons() {
            var additionalButtons = document.getElementById('additionalButtons');
            additionalButtons.style.display = 'block';
        }
</script>

