@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script>
        // You can include custom scripts for the homepage here if needed.
    </script>
}

<div class="row">
    <div class="col-md-8">
        <h2>Welcome to the Graduation Ceremony</h2>

        <p>
            We are thrilled to celebrate the accomplishments of our graduands at this year's Graduation Ceremony.
            Use the navigation bar above to explore different sections and make the event unforgettable!
        </p>

        <p>
            To get started, you can check in graduands by clicking <a asp-area="" asp-controller="CheckIn" asp-action="Index">here</a>.
        </p>
    </div>
</div>

<div id="imageCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://pixabay.com/photos/graduation-teen-high-school-student-995042/" class="d-block w-100" alt="Graduation Photo 1">
        </div>
        <div class="carousel-item">
            <img src="https://pixabay.com/photos/ceremony-graduates-graduation-1866532/" class="d-block w-100" alt="Graduation Photo 2">
        </div>
        <div class="carousel-item">
            <img src="https://pixabay.com/photos/graduation-people-ceremony-diploma-3058263/" class="d-block w-100" alt="Graduation Photo 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
