@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-4">
    <form id="searchForm" action="/Graduation/Index" method="get" autocomplete="off">
        <div class="form-group">
            <label for="searchString">Search Graduants Name:</label>
            <div class="input-group">
                <input type="text" id="searchString" name="searchString" class="form-control"
                       autocomplete="off" onkeyup="XAjaxRequest(this.value);" style="width: 180px" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div id="autoSuggestContainer" class="position-absolute" style="display:none; z-index: 100;"></div>
        </div>
    </form>
</div>
