@model GraduationCeremony.Models.DB.GraduandDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GraduandDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonCode" />
            <input type="hidden" asp-for="awards.AwardCode" />

            <div class="form-group">
                <label asp-for="graduands.Forenames" class="control-label"></label>
                <input asp-for="graduands.Forenames" class="form-control" />
                <span asp-validation-for="graduands.Forenames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduands.Surname" class="control-label"></label>
                <input asp-for="graduands.Surname" class="form-control" />
                <span asp-validation-for="graduands.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.PersonCode" class="control-label"></label>
                <input asp-for="graduandAwards.PersonCode" class="form-control" />
                <span asp-validation-for="graduandAwards.PersonCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.AwardCode" class="control-label"></label>
                <input asp-for="graduandAwards.AwardCode" class="form-control" />
                <span asp-validation-for="graduandAwards.AwardCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="awards.AwardDescription" class="control-label"></label>
                <input asp-for="awards.AwardDescription" class="form-control" />
                <span asp-validation-for="awards.AwardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="awards.QualificationCode" class="control-label"></label>
                <input asp-for="awards.QualificationCode" class="form-control" />
                <span asp-validation-for="awards.QualificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="awards.Level" class="control-label"></label>
                <input asp-for="awards.Level" class="form-control" />
                <span asp-validation-for="awards.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.Major1" class="control-label"></label>
                <input asp-for="graduandAwards.Major1" class="form-control" />
                <span asp-validation-for="graduandAwards.Major1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.Major2" class="control-label"></label>
                <input asp-for="graduandAwards.Major2" class="form-control" />
                <span asp-validation-for="graduandAwards.Major2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduands.DateOfBirth" class="control-label"></label>
                <input asp-for="graduands.DateOfBirth" class="form-control" />
                <span asp-validation-for="graduands.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduands.Pronunciation" class="control-label"></label>
                <input asp-for="graduands.Pronunciation" class="form-control" />
                <span asp-validation-for="graduands.Pronunciation" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
