@model GraduationCeremony.Models.DB.GraduandDetails

@{
    ViewData["Title"] = "Edit";
}

<style>
    /* Styling for form groups */
    .form-group {
        margin-bottom: 20px;
    }

    /* Styling for text and date inputs, and submit button */
    input[type="text"],
    input[type="date"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 5px;
    }

    /* Styling for primary button */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    /* Hover effect for primary button */
    .btn-primary:hover {
        background-color: #0056b3;
    }

    /* Margin for back button */
    .btn-back {
        margin-top: 10px;
    }
</style>

<!-- Page Header -->
<h1 class="text-center title">Edit Graduand Details</h1>

<hr />

<!-- Form Section -->
<div class="row">
    <div class="col-lg-6 mx-auto">
        <!-- Edit Form -->
        <form asp-action="Edit" method="post">
            <!-- Display validation errors summary -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Hidden fields for PersonCode and AwardCode -->
            <input type="hidden" asp-for="PersonCode" />
            <input type="hidden" asp-for="awards.AwardCode" />

            <div class="form-group">
                <label asp-for="graduands.Forenames" class="control-label"></label>
                <input asp-for="graduands.Forenames" class="form-control" />
                <span asp-validation-for="graduands.Forenames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduands.Surname" class="control-label"></label>
                <input asp-for="graduands.Surname" class="form-control" />
                <span asp-validation-for="graduands.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.PersonCode" class="control-label"></label>
                <input asp-for="graduandAwards.PersonCode" class="form-control" />
                <span asp-validation-for="graduandAwards.PersonCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.AwardCode" class="control-label"></label>
                <input asp-for="graduandAwards.AwardCode" class="form-control" />
                <span asp-validation-for="graduandAwards.AwardCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="awards.AwardDescription" class="control-label"></label>
                <input asp-for="awards.AwardDescription" class="form-control" />
                <span asp-validation-for="awards.AwardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="awards.QualificationCode" class="control-label"></label>
                <input asp-for="awards.QualificationCode" class="form-control" />
                <span asp-validation-for="awards.QualificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="awards.Level" class="control-label"></label>
                <input asp-for="awards.Level" class="form-control" />
                <span asp-validation-for="awards.Level" class="text-danger"></span>
            </div>
            @if (Model.graduandAwards.Awarded.HasValue != null)
            {
                <div class="form-group">
                    <label asp-for="graduandAwards.Awarded" class="control-label"></label>
                    <input asp-for="graduandAwards.Awarded" class="form-control" />
                    <span asp-validation-for="awards.AwardDescription" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="graduandAwards.Major1" class="control-label"></label>
                <input asp-for="graduandAwards.Major1" class="form-control" />
                <span asp-validation-for="graduandAwards.Major1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduandAwards.Major2" class="control-label"></label>
                <input asp-for="graduandAwards.Major2" class="form-control" />
                <span asp-validation-for="graduandAwards.Major2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduands.DateOfBirth" class="control-label"></label>
                <input asp-for="graduands.DateOfBirth" class="form-control" />
                <span asp-validation-for="graduands.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduands.Pronunciation" class="control-label"></label>
                <input asp-for="graduands.Pronunciation" class="form-control" />
                <span asp-validation-for="graduands.Pronunciation" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
           @*  <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <br />
                <br />
                @if(Model.graduandAwards.Awarded.HasValue != null)
                {
                    <a asp-action="SearchCheckIn" asp-controller="CheckIn" asp-route-searchString="@Model.graduands.Forenames" class="btn btn-danger btn-lg">Check-In</a>
                }
                <!-- Back Button -->
                <div class="text-left btn-back">
                    <a asp-action="Index" class="btn btn-warning btn-lg">Back to List</a>
                </div>
            </div> *@
            <div class="form-group">
                <div class="row text-center">
                    <div class="col-md-6 mx-auto mb-3">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-success btn-md" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- Back Button -->
                        <div class="d-flex justify-content-start">
                            <a asp-action="Index" class="btn btn-secondary btn-block" style="width:50%;">Back to List</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        @if (Model.graduandAwards.Awarded.HasValue != null)
                        {
                            <div class="form-group d-flex justify-content-end">
                                <a asp-action="SearchCheckIn" asp-controller="CheckIn" asp-route-searchString="@Model.graduands.Forenames" class="btn btn-primary btn-block" style="width:50%;">Check-In</a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Scripts Section -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
