@model GraduationCeremony.Models.DB.Graduation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Graduation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonCode" />
            <div class="form-group">
                <label asp-for="Forenames" class="control-label"></label>
                <input asp-for="Forenames" class="form-control" />
                <span asp-validation-for="Forenames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nsn" class="control-label"></label>
                <input asp-for="Nsn" class="form-control" />
                <span asp-validation-for="Nsn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwardCode" class="control-label"></label>
                <input asp-for="AwardCode" class="form-control" />
                <span asp-validation-for="AwardCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationCode" class="control-label"></label>
                <input asp-for="QualificationCode" class="form-control" />
                <span asp-validation-for="QualificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwardDescription" class="control-label"></label>
                <input asp-for="AwardDescription" class="form-control" />
                <span asp-validation-for="AwardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Major1" class="control-label"></label>
                <input asp-for="Major1" class="form-control" />
                <span asp-validation-for="Major1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Major2" class="control-label"></label>
                <input asp-for="Major2" class="form-control" />
                <span asp-validation-for="Major2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credits" class="control-label"></label>
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completion" class="control-label"></label>
                <input asp-for="Completion" class="form-control" />
                <span asp-validation-for="Completion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Awarded" class="control-label"></label>
                <input asp-for="Awarded" class="form-control" />
                <span asp-validation-for="Awarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearArchieved" class="control-label"></label>
                <input asp-for="YearArchieved" class="form-control" />
                <span asp-validation-for="YearArchieved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BadDebtStatus" class="control-label"></label>
                <input asp-for="BadDebtStatus" class="form-control" />
                <span asp-validation-for="BadDebtStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity1" class="control-label"></label>
                <input asp-for="Ethnicity1" class="form-control" />
                <span asp-validation-for="Ethnicity1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity2" class="control-label"></label>
                <input asp-for="Ethnicity2" class="form-control" />
                <span asp-validation-for="Ethnicity2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethnicity3" class="control-label"></label>
                <input asp-for="Ethnicity3" class="form-control" />
                <span asp-validation-for="Ethnicity3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iwi1" class="control-label"></label>
                <input asp-for="Iwi1" class="form-control" />
                <span asp-validation-for="Iwi1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iwi2" class="control-label"></label>
                <input asp-for="Iwi2" class="form-control" />
                <span asp-validation-for="Iwi2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iwi3" class="control-label"></label>
                <input asp-for="Iwi3" class="form-control" />
                <span asp-validation-for="Iwi3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label"></label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine3" class="control-label"></label>
                <input asp-for="AddressLine3" class="form-control" />
                <span asp-validation-for="AddressLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine4" class="control-label"></label>
                <input asp-for="AddressLine4" class="form-control" />
                <span asp-validation-for="AddressLine4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegeEmail" class="control-label"></label>
                <input asp-for="CollegeEmail" class="form-control" />
                <span asp-validation-for="CollegeEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalEmail" class="control-label"></label>
                <input asp-for="PersonalEmail" class="form-control" />
                <span asp-validation-for="PersonalEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campus" class="control-label"></label>
                <input asp-for="Campus" class="form-control" />
                <span asp-validation-for="Campus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
