@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CHECK IN</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form id="searchForm" action="/CheckIn/Index" method="get" autocomplete="off">
    <p>
        Search Graduants:
        <div>
            <input type="text" id="searchString" name="searchString"
                   autocomplete="off" onkeyup="XAjaxRequest(this.value);"
                   style="width: 180px" />
            <input type="submit" value="Search" />
            <br />
            <div id="autoSuggestContainer" style="position:absolute;display:none;z-index:100;">
            </div>
        </div>

    </p>
</form>
