@model GraduationCeremony.Models.DB.Graduand

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-4">
    <!--Welcome text-->
    <br />
    <div class="about-us mt-2">
        <div class="container">
            <!-- Site Name -->
            <p class="siteName" style="text-align:center;">Let's get you checked in</p>
            <!-- Site Description -->
            <p class="siteDesc">
                Welcome to our Graduation Check-In platform! Enter your name below to register for the graduation ceremony.
            </p>
        </div>
    </div>
    <br />
    <br />

    <!-- Search Form -->
    <form id="searchForm" action="/CheckIn/SearchCheckIn" method="get" autocomplete="off" class="search-form">
        <div class="form-group search-box">
            <!-- Search Input -->
            <input type="text" id="searchString" name="searchString" class="form-control search-input"
                   autocomplete="off" oninput="handleSearchInputChange();" onkeyup="XAjaxRequest(this.value);" placeholder="Enter name" required />

            <!-- Search Button -->
            <button type="submit" class="btn btn-outline-danger search-button btn-lg">Search</button>
        </div>
    </form>
    <!-- Auto Suggest Container -->
    <div id="autoSuggestContainer" class="autoSuggest"></div>

    <!-- Display Error Message -->
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div id="error-message" class="alert alert-danger error-message mt-4">@ViewBag.Message</div>
    }

    <br />
    <br />
    <div class="about-us mt-2">
        <div class="container">
            <p class="siteDesc">
                If you can't find yourself in the search results, don't worry! Our dedicated staff is here to assist you. Please approach any staff member available, and they will be happy to guide you through the check-in process. Your comfort and convenience are our top priorities, and we are here to ensure that you have a smooth and enjoyable experience during this special event.
            </p>
        </div>
    </div>

</div>


@* auto suggestion *@
<script type="text/javascript">

    // Auto-suggest function
    function XAjaxRequest(searchString) {
        if (searchString.length < 1) {
            autoSuggestContainer.innerHTML = "";
            autoSuggestContainer.style.display = "none";
            autoSuggestContainer.classList.remove("show-border");
            return;
        } else {
            autoSuggestContainer.classList.add("show-border");
        }

        // Send request only if there is a change in the search string
        if (searchString !== autoSuggestContainer.dataset.lastSearchString) {
            var xmlhttp = new XMLHttpRequest();
            var url = "/CheckIn/SearchGraduandByName?searchString=" + searchString;

            xmlhttp.open("GET", url, false);
            xmlhttp.send();

            document.getElementById("autoSuggestContainer").style.display = "block";
            document.getElementById("autoSuggestContainer").innerHTML = "";

            var messageObject = JSON.parse(xmlhttp.responseText);

            if (messageObject.length === 0) {
                autoSuggestContainer.style.display = "none";
                return;
            }

            var autoSuggestions = "";

            for (var i = 0; i < messageObject.length; i++) {
                autoSuggestions +=
                    "<input type=\"button\" value=\"" + messageObject[i].Forenames + " " + messageObject[i].Surname + "\" "
                    + "onclick=\"document.getElementById('searchString').value = this.value; document.getElementById('searchForm').submit();\" ";

                autoSuggestions += "<br />";
            }

            document.getElementById("autoSuggestContainer").innerHTML = autoSuggestions;

            // Store the last search string
            autoSuggestContainer.dataset.lastSearchString = searchString;
        }
    }

    // Script to handle input change and remove error message
    function handleSearchInputChange() {
        // Clear the error message when the user starts typing
        document.getElementById("error-message").style.display = "none";
    }
</script>
