@model GraduationCeremony.Models.DB.Graduand

@{
    ViewData["Title"] = "Home Page";
}

<!-- Check In Search Home -->

<div class="container form-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card w-100">
                <div class="card-body">
                    <h1 class="display-4 text-center mb-4">CHECK IN</h1>

                    <form id="searchForm" action="/CheckIn/SearchCheckIn" method="get" autocomplete="off" class="search-form">
                        <div class="form-group">
                            <input type="text" id="searchString" name="searchString" class="form-control search-input"
                                   autocomplete="off" onkeyup="XAjaxRequest(this.value);" placeholder="Enter your email" required />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger search-button">Search</button>
                        </div>
                        <div id="autoSuggestContainer" class="autoSuggest"></div>
                    </form>

                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-danger error-message mt-4">@ViewBag.Message</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- auto suggestion script -->
<script type="text/javascript">
    function XAjaxRequest(searchString) {
        if (searchString.length < 1) {
            autoSuggestContainer.innerHTML = "";
            autoSuggestContainer.classList.remove("show-border");
            return;
        } else {
            autoSuggestContainer.classList.add("show-border");
        }

        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        var url = "/CheckIn/SearchGraduandByName?searchString=" + searchString;
        xmlhttp.open("GET", url, false);
        xmlhttp.send();
        document.getElementById("autoSuggestContainer").style.display = "block";
        document.getElementById("autoSuggestContainer").innerHTML = "";

        var messageObject = JSON.parse(xmlhttp.responseText);

        var autoSuggestions = "";

        for (var i = 0; i < messageObject.length; i++) {
            autoSuggestions +=
                "<input type=\"button\" value=\"" + messageObject[i].
                    Forenames + " " + messageObject[i].Surname + "\" "
                + "onclick=\"document.getElementById('searchString').value = this.value; document.getElementById('searchForm').submit();\" "
                + "style=\"background-color:transparent;\" />";

            autoSuggestions += "<br />";
        }

        document.getElementById("autoSuggestContainer").innerHTML = autoSuggestions;
    }
</script>
